tool_rendi_ffmpeg.json
{
  "name": "tool_rendi_ffmpeg",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "744555a6-9da7-4e0b-8a69-e0bf809a8bc3",
              "name": "FFMPEG-API-KEY",
              "value": "aEt1c2lxTHZtZG5zdEt5dDNhYkI6MDczMTEyMzc0MjM0ZTExMjk4ZGI0MWNj",
              "type": "string"
            },
            {
              "id": "499820ec-8fff-4cd4-8c00-eae3a18b1f8b",
              "name": "RENDI-API-KEY",
              "value": "eJwzsrAwSjE0N2NRNMjc31jVJSkrWtUw2SdVNBJKJZmbJxinmlvHmBZmhugGlFk6OGcXGPu5ZbkbmFpnpANoBEK4=",
              "type": "string"
            },
            {
              "id": "7fb533d2-1cde-4e33-b28c-82fbb1f21510",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        32
      ],
      "id": "239a4041-215d-4d10-92e5-269599ea72b0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.rendi.dev/v1/run-ffmpeg-command",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "={{ $('Edit Fields').item.json['RENDI-API-KEY'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Start').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        32
      ],
      "id": "6ef1ba0d-0dd6-4032-953d-974fd151b3b4",
      "name": "rendiFFMPEG",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.rendi.dev/v1/commands/{{ $json.command_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $('Edit Fields').item.json['RENDI-API-KEY'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        32
      ],
      "id": "2fc51a4b-a5b0-48fa-81c0-96a977d12e04",
      "name": "rendiStatus"
    },
    {
      "parameters": {
        "content": "https://docs.rendi.dev/api-reference/introduction",
        "height": 560,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -96
      ],
      "id": "a32eaf96-e3b9-413c-8c8e-f251550af8e8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        176
      ],
      "id": "aa044c84-26da-490a-809b-70f7d79402f4",
      "name": "Wait2",
      "webhookId": "0dfa1dde-4475-4030-bee7-11c79fa8900b"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.output_files"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        16
      ],
      "id": "cc8da39d-7347-4f3b-9011-956dbfef3917",
      "name": "result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a06361d-8ef4-437e-8503-9abcf400f173",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        32
      ],
      "id": "56ef6410-6372-494f-98f7-ee90083ad7db",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aee2c620-9aa3-4f81-9be6-07e6de682ce7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        112
      ],
      "id": "db1b42fa-65f8-491c-aa79-1b0f71adb3cd",
      "name": "If"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "body",
              "type": "object"
            }
          ]
        }
      },
      "id": "e18a004c-7ba0-423c-a070-8c086e26d570",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -672,
        32
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.status }}：{{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1200,
        96
      ],
      "id": "886bc3a1-ea56-4f27-9e19-0aacfd605855",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.message }}:{{ $json.error.name }}:{{ $json.error.stack }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        160,
        128
      ],
      "id": "42ff5f27-d343-47d7-906a-63f73008f7b3",
      "name": "Stop and Error1"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "body": {
            "input_files": {
              "in_1": "https://v3b.fal.media/files/b/0a84c272/Aez7RK5cWxPEt71ufsTql_video.mp4",
              "in_2": "https://v3b.fal.media/files/b/0a84c275/UeiaR5eA4pqFyvoSZhR5n_video.mp4",
              "in_3": "https://v3b.fal.media/files/b/0a84c279/-_PumCPHbg5fF4fgbqBpb_video.mp4",
              "in_4": "https://v3b.fal.media/files/b/0a84c27c/LLtaFWdlkhICvI9rRBKLf_video.mp4",
              "in_5": "https://v3b.fal.media/files/b/0a84c281/LSkZT7QgVEm56olTdrEPu_video.mp4",
              "audio_1": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A49.000-08%3A00.wav",
              "audio_2": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A41.778-08%3A00.wav",
              "audio_3": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A35.578-08%3A00.wav",
              "audio_4": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A29.854-08%3A00.wav",
              "audio_5": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A23.386-08%3A00.wav",
              "audio_6": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A16.917-08%3A00.wav",
              "audio_7": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A11.443-08%3A00.wav",
              "audio_8": "https://amz-bucket-oktale.s3.us-east-2.amazonaws.com/n8n%2F2025-12-02T18%3A09%3A04.141-08%3A00.wav"
            },
            "ffmpeg_command": "-i {{in_1}} -i {{in_2}} -i {{in_3}} -i {{in_4}} -i {{in_5}} -i {{audio_1}} -i {{audio_2}} -i {{audio_3}} -i {{audio_4}} -i {{audio_5}} -i {{audio_6}} -i {{audio_7}} -i {{audio_8}} -filter_complex \"[0:v][5:a]concat=n=2:v=1:a=1[v1];[1:v][6:a]concat=n=2:v=1:a=1[v2];[2:v][7:a]concat=n=2:v=1:a=1[v3];[3:v][8:a]concat=n=2:v=1:a=1[v4];[4:v][9:a]concat=n=2:v=1:a=1[v5];[v1][v2][v3][v4][v5]concat=n=5:v=1:a=1[v][a]\" -map \"[v]\" -map \"[a]\" -shortest -y video_with_audio.mp4",
            "output_files": {
              "out_1": "video_with_audio.mp4"
            },
            "max_command_run_seconds": 120
          }
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "rendiFFMPEG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rendiFFMPEG": {
      "main": [
        [
          {
            "node": "rendiStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rendiStatus": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "rendiStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "result": {
      "main": [
        []
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "911d0f05-9946-49a0-af05-a3a03cac8c1e",
  "meta": {
    "instanceId": "5d73e47fbd672d304f06524b896d7eb8ee2688cc66dabdc7a4d0908c88a41b5f"
  },
  "id": "ZGE2p4kwYysZ5TpO",
  "tags": []
}